/* the form and table container */
.feedback-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

h2 {
  padding-top: 20px;
}

.mat-elevation-z0{
  margin-top: 20px !important;
}

/* text in the content to have brackets  */
.text-style {
  white-space: pre-wrap;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid #f2f7fb;
  width: 826px;

}

/*  the text above the form */
.upper-text {
  padding-top: 20px;
  width: 780px;
  font-size: 20px;
  margin:0 !important;
}




.form-container {
  border: none !important;
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: auto;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.paginator {
  justify-content: flex-start;
  margin-left: 0;
  width: 100%;
}

.mdc-data-table__header-cell {
  font-size: 20px;
  font-weight: bolder;
}

.mdc-data-table__cell {
  font-size: 17px !important;
  /* font-weight: bolder; */
}