<!-- The Modal -->
<div class="modal glass">
    <!-- Modal content -->
    <div class="form-div glass">
        <div id="particles-js"></div>
        <span class="close" (click)="closeModal()">&times;</span>
        <!-- Butonul de ascundere formular. La evenimentul click se apeleaza functia closeModal() a componentei curente (add-user-modal) si modala se va inchide-->

        <div class="title">Request #{{editedRequest.id}}</div>

        <div class="request-details-grid">





            <!-- COLOANA STANGA -->
            <div class="request-data-container">

                <!-- REQUESTER -->
                <div class="requester-container">
                    <h3 class="subtitle">Requester</h3>
                    <table>
                        <tr>
                            <td>Department:</td>
                            <td> {{editedRequest.requester?.department}}</td>
                        </tr>
                        <tr>
                            <td>Position:</td>
                            <td>{{editedRequest.requester?.position?.replace('_',' ')}}</td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td>{{editedRequest.requester?.lastName}} {{editedRequest.requester?.firstName}}</td>
                        </tr>
                        <tr>
                            <td>E-mail:</td>
                            <td>{{editedRequest.requester?.loginDetails?.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{editedRequest.requester?.phoneNumber}}</td>
                        </tr>
                    </table>
                </div>

                <!-- REQUEST -->
                <div class="request-container">
                    <h3 class="subtitle">Request</h3>
                    <table>
                        <tr>
                            <td>Type:</td>
                            <td><b>{{editedRequest.type.replaceAll('_',' ')}}</b></td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td
                                [ngStyle]="{'color':editedRequest.status === 'Pending' ? '#00A3E3' : editedRequest.status === 'Approved' ? 'green' : 'red'}">
                                <b>{{editedRequest.status}}</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Submit date:</td>
                            <td>{{formatDate(editedRequest.requestDate)}}</td>
                        </tr>
                        <tr>
                            <td>Finish date:</td>
                            <td>{{formatDate(editedRequest.finishDate)}}</td>
                        </tr>
                    </table>
                </div>

                <!-- RESPONDER -->
                <div class="responder-container">
                    <h3 class="subtitle">Responder</h3>
                    <table *ngIf="editedRequest.responder">
                        <tr>
                            <td>Department:</td>
                            <td>{{editedRequest.responder.department}}</td>
                        </tr>
                        <tr>
                            <td>Position:</td>
                            <td>{{editedRequest.responder.position.replace('_',' ')}}</td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td>{{editedRequest.responder.lastName}} {{editedRequest.responder.firstName}}</td>
                        </tr>
                        <tr>
                            <td>E-mail:</td>
                            <td>{{editedRequest.responder.loginDetails?.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>{{editedRequest.responder.phoneNumber}}</td>
                        </tr>
                    </table>
                </div>

            </div>








            <!-- COLOANA DREAPTA -->
            <div class="request-details-container">
                <h3 class="subtitle">Details</h3>
                <div class="request-details-content">

                    <!-- BAZAT PE TIPUL DE CERERE SE VA INCARCA UN TEMPLATE DIFERIT: -->

                    <section class="default-request-model"
                        *ngIf="editedRequest.type === 'Training_request' || editedRequest.type === 'Custom_request' ">
                        {{editedRequest.details}}
                    </section>

                    <section class="default-request-model" *ngIf="editedRequest.type === 'Change_personal_data'">
                        <div [innerHTML]="changeDataRequestDetailsStringFormat(editedRequest.details)"></div>
                    </section>
  
                    <section class="document-model" *ngIf="editedRequest.type === 'Paid_leave'">
                        <h3>Cerere - Concediu de odihna</h3>

                        Subsemnatul <p class="unchangeable-field">{{editedRequest.requester?.lastName}}
                            {{editedRequest.requester?.firstName}}</p>,

                        angajat(ă) al/a HR Connect pe perioadă nedeterminată
                        începând cu data de <p class="unchangeable-field">
                            {{formatDate(editedRequest.requester?.joinDate)}}</p>,

                        în funcția de <p class="unchangeable-field">{{editedRequest.requester?.position?.replace('_','
                            ')}}</p>,

                        vă rog să-mi aprobați efectuarea unui concediu in perioada <p class="unchangeable-field">
                            {{formatPeriod(editedRequest.details)}}</p>.
                    </section>


                    <section class="document-model" *ngIf="editedRequest.type === 'Medical_leave'">
                        <h3>Cerere - Concediu medical</h3>

                        Subsemnatul <p class="unchangeable-field">{{editedRequest.requester?.lastName}}
                            {{editedRequest.requester?.firstName}}</p>,

                        angajat(ă) al/a HR Connect pe perioadă nedeterminată
                        începând cu data de <p class="unchangeable-field">
                            {{formatDate(editedRequest.requester?.joinDate)}}</p>,

                        în funcția de <p class="unchangeable-field">{{editedRequest.requester?.position?.replace('_','
                            ')}}</p>,

                        vă rog să-mi aprobați efectuarea unui concediu medical in perioada <p
                            class="unchangeable-field">{{formatPeriod(editedRequest.details)}}</p>.
                    </section>


                    <section class="document-model" *ngIf="editedRequest.type === 'Employed_status'">

                        <h3>Adeverință</h3>

                        Prin prezenta, se adeverește că domnul/doamna <p class="unchangeable-field">
                            {{editedRequest.requester?.lastName}} {{editedRequest.requester?.firstName}}</p>

                        domiciliat/ă în <p class="unchangeable-field">{{editedRequest.requester?.address?.country}}</p>,

                        județul <p class="unchangeable-field">{{editedRequest.requester?.address?.county}}</p>,

                        localitatea <p class="unchangeable-field">{{editedRequest.requester?.address?.city}}</p>,

                        <p class="unchangeable-field">{{editedRequest.requester?.address?.street}}
                            {{editedRequest.requester?.address?.streetNumber}}
                            {{editedRequest.requester?.address?.flatNumber}}</p>

                        identificat/ă prin CNP <p class="unchangeable-field">
                            {{editedRequest.requester?.identityCard?.cnp}}</p>

                        act de identitate CI

                        seria <p class="unchangeable-field">{{editedRequest.requester?.identityCard?.series}}</p>

                        nr. <p class="unchangeable-field">{{editedRequest.requester?.identityCard?.number}}</p>

                        eliberat de <p class="unchangeable-field">{{editedRequest.requester?.identityCard?.issuer}}</p>

                        la data de <p class="unchangeable-field">
                            {{formatDate(editedRequest.requester?.identityCard?.issuingDate)}}
                        </p>,

                        este angajat(ă) al/a HR Connect
                        pe perioadă nedeterminată/determinată începând cu data de <p class="unchangeable-field">
                            {{formatDate(editedRequest.requester?.joinDate)}}</p>,

                        în funcția de <p class="unchangeable-field">{{editedRequest.requester?.position?.replace('_','
                            ')}}</p>,

                        conform
                        contractului individual de muncă nr. <p class="unchangeable-field">
                            {{editedRequest.requester?.id}}</p>/2048,
                        înregistrat în Registrul General de evidență a salariaților conform legii.

                        Prezenta se eliberează spre a-i servi la <p class="unchangeable-field">{{editedRequest.details}}
                        </p>.
                    </section>


                    <section class="document-model" *ngIf="editedRequest.type === 'Resignation'">
                        <h3>Demisie</h3>

                        Subsemnatul <p class="unchangeable-field">{{editedRequest.requester?.lastName}}
                            {{editedRequest.requester?.firstName}}</p>,

                        domiciliat/ă în <p class="unchangeable-field">{{editedRequest.requester?.address?.country}}</p>,

                        județul <p class="unchangeable-field">{{editedRequest.requester?.address?.county}}</p>,

                        localitatea <p class="unchangeable-field">{{editedRequest.requester?.address?.city}}</p>,

                        strada <p class="unchangeable-field">{{editedRequest.requester?.address?.street}},

                            nr. {{editedRequest.requester?.address?.streetNumber}},

                            apartament {{editedRequest.requester?.address?.flatNumber}}</p>,

                        identificat/ă prin CNP <p class="unchangeable-field">
                            {{editedRequest.requester?.identityCard?.cnp}}</p>

                        act de identitate CI seria <p class="unchangeable-field">
                            {{editedRequest.requester?.identityCard?.series}}</p>

                        nr. <p class="unchangeable-field">{{editedRequest.requester?.identityCard?.number}}</p>

                        eliberat de <p class="unchangeable-field">{{editedRequest.requester?.identityCard?.issuer}}</p>

                        la data de <p class="unchangeable-field">
                            {{formatDate(editedRequest.requester?.identityCard?.issuingDate)}}</p>,

                        angajat(ă) al/a HR Connect pe perioadă nedeterminată începând cu data de <p
                            class="unchangeable-field">{{formatDate(editedRequest.requester?.joinDate)}}</p>,

                        în funcția de <p class="unchangeable-field">{{editedRequest.requester?.position?.replace('_','
                            ')}}</p>,

                        prin prezenta vă rog să îmi aprobați încetarea raporturilor de muncă prin demisie.
                    </section>


                    <ng-template [ngIf]="userRole === 'hr' && editedRequest.status === 'Pending'">

                        <div class="action-buttons-container">
                            <button type="button" class="btn btn-approve" (click)="approveRequest()">Approve</button>
                            <button type="button" class="btn btn-danger" (click)="denyRequest()">Deny</button>
                        </div>

                    </ng-template>



                </div>

            </div>


        </div>


    </div>
</div>