<app-navigation-bar></app-navigation-bar>
<div id="benefits-page">
    <h1 class="benefits-title">Benefits</h1>


    <div class="benefits-grid">


        <div class="education">
            <div class="education-image">
                <img src="assets/images/education.gif" alt="workout icon gif">
            </div>
            <div class="education-text">
                <h1>E-learning platform discount</h1>
                <h2>Apply code <div class="discount">DISCOUNT-FOR-EDUCATION20</div> and get discount to following courses from e-learning platform:
                </h2>
            </div>
        </div>



        <div class="healthcare">
            <div class="healthcare-text">
                <h1>Private medical health insurance</h1>
                <h2>Apply code <div class="discount">DISCOUNT-FOR-HEALTH-CARE20</div> and get discount to all the services from Private Health
                    Insurance.</h2>
            </div>
            <div class="healthcare-image">
                <img src="assets/images/healthcare.gif" alt="workout icon gif">
            </div>
        </div>

        <div class="gym">
            <div class="gym-image">
                <img src="assets/images/gym.gif" alt="workout icon gif">
            </div>
            <div class="gym-text">
                <h1>Gym class membership</h1>
                <h2>Apply code <div class="discount">DISCOUNT-FOR-GYM-CLASS20</div> and get discount to the gym class of Private Gym.
                    Insurance.</h2>
            </div>
        </div>



        <div class="vacation">
            <div class="vacation-text">
                <h1>Vacation coupons</h1>
                <h2>Apply code <div class="discount">DISCOUNT-FOR-VACATION-EU30</div> and get discount to all the flights inside Europe.</h2>
                <h2>Apply code <div class="discount">DISCOUNT-FOR-VACATION20</div> and get discount to all the flights outside Europe.</h2>
            </div>

            <div class="vacation-image">
                <img src="assets/images/vacation.gif" alt="workout icon gif">
            </div>
        </div>

        <div style="visibility: hidden;">
            <div>
                <img href="#" alt="not to display">
            </div>
        </div>
    </div>






</div>