/* The  Modal (background) */
.modal {
  display: block;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  margin: 0;
  height: 100vh;
  background: rgba(242, 247, 251, 0.2);
}

/* The  Modal */
.form-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 1000px;
 

  background: rgba(255, 255, 255, 0.7);
}

.glass {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(33px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

#particles-js {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}




/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




.title {
  color: #0C2340;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  color: #0C2340;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  /* margin-top: 10px; */
  margin-bottom: -20px;
  text-align: center;
}

.contact-container h3 {
  margin-top: 30px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #0C2340;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #c4c5c5;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

::placeholder {
  color: #c4c5c5;
  font-size: 18px;
  font-family: "Arial Narrow", Helvetica, sans-serif;
}

.cut {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(10px);
}

option {
  color: #c4c5c5;
}

.placeholder {
  color: #c4c5c5;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
  background-color: transparent;
  opacity: 100%;
}


.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-40px) scale(1);
  color: #0C2340;
}


/* .input:not(:placeholder-shown)~.placeholder {
  color: #808097;
} 
color of the placeholder text when some input was written but the input field si not selected (ex: color of 'email' while writting in password field)*/

.input:focus~.placeholder {
  color: #0C2340;
}

.submit {
  background-color: #00A3E3;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 238px;
  /* outline: 0; */
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #2282C1;
}

.hidden {
  display: none;
}

.alert {
  margin-top: 26px;
  margin-bottom: 0px
}

.default-error {
  left: 50%;
  transform: translate(6%, -15%);
}

.form-grid {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
  justify-content: space-around;
}


/* the size of the content box */
.input-container.ic1 textarea.input {
  height: 220px;
}

app-file-upload{
  
  z-index: 100;

}