h1 {
    padding-top: 25px;
    font-weight: bold;
}

h1, h4 {
    text-align: center;
}

h4 {
    padding-bottom: 40px;
}


h2 {
    font-weight: bold;
    margin-bottom: 15px;
}


.form-div {
    background-color: white;

    left: 50%;
    
    max-height: calc(100vh - 200px);

    border-radius: 20px;
    box-sizing: border-box;

    width: 60%;


    grid-area: 1 / 1 / 2 / 2;


}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic-2{
    margin-top: 48px;
}

.personal-data-input{
    width: 100%;
}

.unchangeable-field {
    background-color: lightgray;
    display: inline-block;
}

.input {
    background-color: #0C2340;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #c4c5c5;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.magic-date {
    width: 158px;
    height:34px;
}

textarea{
    width: 100%;
}

.submit {
    background-color: #00A3E3;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    /* outline: 0; */
    text-align: center;
    width: 100%;
}

.request-text {
    padding: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-bottom: 0;
}

.request-text h3 {
    text-align: center;
    padding-bottom: 20px;
}

.document-model {
    background-color: white;
}

#reason {
    width: 600px;
    border: 1px solid grey;
}

.request-form-error-mesage {
    margin-top: 40px;
}





.page-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 50px;

    justify-items: center;
}


.user-requests-history{
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
}







.requests-table-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.search-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.search-bar {
    height: 37px !important;
    width: 16% !important;
    border: 1px solid lightgrey !important;
}

.mdc-data-table__header-cell {
    font-size: 30px;
    font-weight: bolder;
}

.btn-add {
    background-color: #133C7F;
    color: white;
}

th {
    background-color: #2282C1;
    font-size:18px;
}

td {
    font-size:17px !important;
}

.table {
    border: 1px solid lightgrey !important;
}

.mat-mdc-header-cell {
    background-color: #DDECF6 !important;
}

.mdc-data-table__cell{
    font-size:25px !important;
    /* font-weight: bolder; */
}

.mat-mdc-row .mat-mdc-cell {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: black;
    background-color: #ebeaea;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-mdc-paginator-container {
    background-color: #F2F7FB;
}

.mat-mdc-text-field-wrapper {
    background-color: white;
}





.search-and-tabs-container {
    display: flex;
    width: 100%;
}

.search-and-tabs-container label {
    height: 37px;
    width: 200px;
    border: 1px solid lightgrey;
}




.tabs {
    display: flex;
}

.tabs label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: #F2F7FB;
    font-weight: bold;
    transition: background ease 0.3s;
}

.tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
    background: #fff;
    padding: 20px;
    box-shadow: -10px 10px 0px 0px black;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs input[type="radio"]:checked+label {
    background: #fff;
}

.tabs input[type="radio"]:checked+label+.tab {
    display: block;
}

@media (max-width: 465px) {

    .tabs .tab,
    .tabs label {
        order: initial;
    }

    .tabs label {
        width: 100%;
        margin-left: 50px;
    }
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity:1;
    transition:opacity 500ms;
}
@keyframes cssAnimation {
    to {
        opacity: 0;
      
    }
}
@-webkit-keyframes cssAnimation {
    to {
        opacity: 0;
    }
}

.alert-container{
    position: absolute;
    top: 0;
    left: 44%;
}

.alert {
    font-size: 20px !important;
    font-weight: bold !important;
}