<main>



  <div *ngIf="article">
    <div class="header">
      <div class="title">
        <h1 class="title__name">{{ article.title }}</h1>
        <h2 class="title__categories">
          <span class="categories__icon material-symbols-outlined">sell</span>
          <span class="categories__item">{{article.contentType}}</span>
        </h2>
      </div>

      <div class="stats">
        <div class="stats__stat">
          <p class="stat__name">Author</p>
          <p class="stat__value">{{
            article.createdBy.lastName
            .concat(" ")
            .concat(article.createdBy.firstName)
            }}</p>
        </div>

        <div class="stats__divider"></div>

        <div class="stats__stat">
          <p class="stat__name">Position</p>
          <p class="stat__value">{{article.createdBy.position.replaceAll('_',' ')}}</p>
        </div>

        <div class="stats__divider"></div>

        <div class="stats__stat">
          <p class="stat__name">published</p>
          <p class="stat__value">{{ article.createdDate | date : "dd/MM/yyyy" }}</p>
        </div>

      </div>

    </div>

    <div class="content">
      <img *ngIf="article?.coverImageUrl else defaultCoverImage" [src]='article.coverImageUrl'>

      <ng-template #defaultCoverImage>
        <img src="assets/images/logo-white-on-blue.jpeg" alt="article cover image">
      </ng-template>

      <br><br><br>

      <p>
        {{ article.content }}
      </p>

    </div>
  </div>



</main>