<!-- https://www.youtube.com/watch?v=tonYNfPvy2U -->

<input type="file" (change)="getFile($event)" multiple/> <br/>
<input type="button" value="Upload file" /> <br/>

<!--https://blog.angular-university.io/angular-file-upload/  -->
<!-- <input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileUpload
       multiple>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>

    </button>

</div>

<div class="progress">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="uploadProgress" *ngIf="uploadProgress">

  </mat-progress-bar>

  <mat-icon class="cancel-upload" (click)="cancelUpload()" 
            *ngIf="uploadProgress">delete_forever</mat-icon>

</div> -->