<script src="../assets/second-navbar.js"></script>
<nav>
    <div class="nav nav nav-fixed-top nav-inverse">
    </div>
    <div class="nav nav-fixed-top nav-inverse tabs paper-shadow-bottom-z-2">
      <div class="container-fluid">
        <ul class="nav-body list-inline">
          <li class="active"><a class="active">Home</a></li>
          <li><a>Potion Lab</a></li>
          <li><a>Stats</a></li>
          <li><a>System Log Feed</a></li>
        </ul>
        <div class="tab-highlighter"></div>
      </div>
    </div>
    <!--2 nav for pushing 1 above after scrolling (Not Implemented yet.)-->
  </nav>